@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --bright-blue: hsl(245, 75%, 52%);
    --bright-blue-hover: hsl(244, 83%, 68%);
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-blue);
    font-size: 1rem;
    font-family: "Red Hat Display", sans-serif;

}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    background-color: #fff;
    color: var(--desaturated-blue);
    border-radius: 15px;
    margin: 50px auto;
}
.hero-image {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.title {
    font-weight: 900;
    color: var(--dark-blue);
}
.container {
    text-align: center;
    padding: 30px;
    font-size: 18px;
}
.container>* {
    margin: 10px 0;
}
.container strong {
    color: var(--dark-blue);
}
.order-description {
    line-height: 25px;
}
.plan-container {
    display: flex;
    font-size: 16px;
    background-color: var(--very-pale-blue);
    padding: 25px;
    border: 30px;
    border-radius: 15px;
}
.plan-container img {
    margin-right: 30px;
    margin-left: 15px;
}
.plan-container a {
    color: var(--bright-blue);
    margin-left: 6rem;
    margin-top: 10px;
}
.plan-container a:hover {
    color: var(--bright-blue-hover);
    text-decoration: none;
}
button {
    width: 100%;
}
.cancel-button {
    padding: 1rem 0;
    color: black;
    border: none;
    background: white;
}
.cancel-button:hover {
    color: black;
}
.proceed-button {
    padding: 1rem 0;
    color: black;
    border: none;
    background: white;
}
.proceed-button:hover {
    background-color: var(--bright-blue);
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
    border-radius: 15px;
    color: white;
}
.proceed-button:active{
    background-color: var(--bright-blue-hover);
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
    border-radius: 15px;
    transform: translateY(4px);
    cursor : pointer;
}
.cancel-button:hover {
    background-color: var(--bright-blue);
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
    border-radius: 15px;
    color: white;
}
.cancel-button:active{
    background-color: var(--bright-blue-hover);
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
    border-radius: 15px;
    transform: translateY(4px);
    cursor : pointer;
}
