* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image:url(./images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1rem ;
    
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 1rem 0;
}